<%- include("../elements/header.ejs") %>
</head>

<body> 
    <%- include("../elements/topbar-external.ejs") %>

    <div class="cl-reg-cont-bd" style="height:100vh !important;">
        <div class="cl-reg-cont-cont">
            <div class="def-title">
                <div class="txt-def-title" id="maintext">Account not found</div>
                <div class="blue-border-long-dark"></div>
            </div>
            <div id="registrationFormPlaceholder">
                <div class="auth-error-txt">
                    An account with the submitted credentials could not be found. Please try again.
                </div>
                <div class="row alignauthbtn">
                    <a class="linkNoStyle btnGradBlue" href="/login">Login</a>
                    <a class="linkNoStyle btnGradBlue" href="/register">Register</a>
                </div>
            </div>
        </div>
    </div>

 <%- include("../elements/footer.ejs") %>

<script type="text/javascript" src="\scripts\registration-script.js"></script>
</body>

</html>