<%- include("../elements/header.ejs") %>
</head>

<body>
    <%- include("../elements/topbar-external.ejs") %>

    <div id="choose-login-main">
        <div class="choose-reg-title">
            <div class="txtreg">How are you registered with us?</div>
            <div class="blue-border-long-dark"></div>
        </div>
        <div id="choose-registration-containers">
            <div class="login-page-container mobile-cont-1">
                <div class="cont-icon"><img alt="user" src="/files/il-7.svg" /></div>
                <div class="cont-title">I am an individual user</div>
                <div class="cont-desc">Please choose this option if you use the system as your individual journaling application.</div>
                <div class="cont-btn">
                    <a href="/login/user" class="linkNoStyle"><button class="btnNoStyle btnGradBlue">Login</button></a>
                </div>
            </div>
            <div class="login-page-container">
                <div class="cont-icon" style="padding-bottom: 1rem;"><img alt="user" src="/files/il-1.svg" /></div>
                <div class="cont-title">I am with an organisation</div>
                <div class="cont-desc">Please choose this option if you are registered within a specialist centre - as a patient, a specialist or an administrator.<br></div>
                <div class="cont-btn">
                    <a href="/login/centre" class="linkNoStyle"><button class="btnNoStyle btnGradBlue">Login</button></a>
                </div>
            </div>
        </div>
    </div>

 <%- include("../elements/footer.ejs") %>
 <script>
     $("#login").addClass("active");
 </script>

</body>

</html>