<%- include("../elements/header.ejs") %>
</head>

<body> 
    <%- include("../elements/topbar-external.ejs") %>

    <div class="cl-reg-cont-bd">
        <div class="cl-reg-cont-cont">
            <div class="def-title">
                <div class="txt-def-title" id="maintext">Please enter your details</div>
                <div class="blue-border-long-dark"></div>
            </div>
            <div id="registrationFormPlaceholder">
                <form method="POST" id="registrationUserForm" action="/register/create/user">
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="userName">Name:</label>
                            <input type="text" class="form-control" id="userName" name="userName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="userSurname">Surname:</label>
                            <input type="text" class="form-control" id="userSurname" name="userSurname" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="userEmail">Email Address:</label>
                            <input type="email" class="form-control" id="userEmail" name="userEmail" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="userPhone">Phone number:</label>
                            <input type="number" class="form-control" id="userPhone" name="userPhone" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="userPassword">Password:</label>
                            <input type="password" class="form-control" id="userPassword" name="userPassword" required>
                            <small>Minimum 8 characters.</small>
                        </div>
                        <div class="col">
                            <label for="userPasswordRepeat">Repeat Password:</label>
                            <input type="password" class="form-control" id="userPasswordRepeat" name="userPasswordRepeat" required>
                            <small id="pass-info"></small>
                        </div>
                    </div>
                    <div class="row alignnextbtn">
                        <button class="btnNoStyle btnGradBlue" id="submitBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

 <%- include("../elements/footer.ejs") %>

<script type="text/javascript" src="\scripts\ind-registration-script.js"></script>
<script>
    $("#register").addClass("active");
</script>
</body>

</html>