<div class="sidebar-closed">
    <button class="btnNoStyle" onclick="openSidebar()">&#9776;</button>
</div>
<div class="sidebar">
    <div class="xBtn">
        <button class="btnNoStyle" onclick="closeSidebar()">×</button>
    </div>
    <div class="sidebar-title">
        Moodnitor
    </div>
    <div class="sidebar-line"></div>
    <div class="sidebar-links">
        <a href="/dashboard" class="linkNoStyle">
            <div class="sidebar-link-element" id="dash-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/dashboard-icon.png" alt="dashboard" />
                </div>
                <div class="sidebar-link-element-txt">
                    Dashboard
                </div>
            </div>
        </a>

        <a href="/dashboard/user/entries/add" class="linkNoStyle"> 
            <div class="sidebar-link-element" id="add-entry-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/plus-icon.png" alt="Users List" />
                </div>
                <div class="sidebar-link-element-txt">
                    Add Entry
                </div>
            </div>            
        </a>

        <a href="/dashboard/user/entries/review" class="linkNoStyle"> 
            <div class="sidebar-link-element" id="review-entry-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/reviewentries-icon.png" alt="Review Entries" />
                </div>
                <div class="sidebar-link-element-txt">
                    Review Entries
                </div>
            </div>            
        </a>

        <a href="/dashboard/user/entries/journey" class="linkNoStyle"> 
            <div class="sidebar-link-element" id="your-journey-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/urjourney.png" alt="Your Journey" />
                </div>
                <div class="sidebar-link-element-txt">
                    Your Journey
                </div>
            </div>            
        </a>

        <a href="/dashboard/user/contact/email" class="linkNoStyle"> 
            <div class="sidebar-link-element" id="contact-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/contact-icon.png" alt="Contact" />
                </div>
                <div class="sidebar-link-element-txt">
                    Contact
                </div>
            </div>            
        </a>

        <a href="/dashboard/emotions" class="linkNoStyle"> 
            <div class="sidebar-link-element" id="more-info-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/moreinfo.png" alt="Info" />
                </div>
                <div class="sidebar-link-element-txt">
                    More Info
                </div>
            </div>            
        </a>

        <a href="/dashboard/logout" class="linkNoStyle"> 
            <div class="sidebar-link-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/logout-icon.png" alt="Logout" />
                </div>
                <div class="sidebar-link-element-txt">
                    Logout
                </div>
            </div>            
        </a>

    </div>
</div>

<script>
    function openSidebar() {
        $(".sidebar").css("display", "block");
        $(".xBtn").css("visibility", "visible");
    }

    function closeSidebar() {
        $(".sidebar").css("display", "none");
        $(".xBtn").css("visibility", "hidden");
    }
</script>