<div class="sidebar-closed">
    <button class="btnNoStyle" onclick="openSidebar()">&#9776;</button>
</div>
<div class="sidebar">
    <div class="xBtn">
        <button class="btnNoStyle" onclick="closeSidebar()">×</button>
    </div>
    <div class="sidebar-title">
        <a href="/dashboard" class="linkNoStyle">
            Moodnitor
        </a>
    </div>
    <div class="sidebar-line"></div>
    <div class="sidebar-links">
        <a href="/dashboard" class="linkNoStyle">
            <div class="sidebar-link-element" id="dash-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/dashboard-icon.png" alt="dashboard" />
                </div>
                <div class="sidebar-link-element-txt">
                    Dashboard
                </div>
            </div>
        </a>

        <% if (isAdmin) { %>
            <a href="/dashboard/specialist/users/list" class="linkNoStyle"> 
                <div class="sidebar-link-element" id="users-element">
                    <div class="sidebar-link-element-icon">
                        <img src="/files/userslist.png" alt="Users List" />
                    </div>
                    <div class="sidebar-link-element-txt">
                        Manage Users
                    </div>
                </div>            
            </a>
        <% } %>

        <a href="/dashboard/specialist/assigned/users" class="linkNoStyle"> 
            <div class="sidebar-link-element" id="assigned-users-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/user-icon.png" alt="Assigned Users" />
                </div>
                <div class="sidebar-link-element-txt">
                    Your Patients
                </div>
            </div>            
        </a>

        <a href="/dashboard/specialist/entries/review" class="linkNoStyle"> 
            <div class="sidebar-link-element" id="review-entry-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/reviewentries-icon.png" alt="Review Entries" />
                </div>
                <div class="sidebar-link-element-txt">
                    Review Entries
                </div>
            </div>            
        </a>

        <a href="/dashboard/specialist/entries/reports" class="linkNoStyle"> 
            <div class="sidebar-link-element" id="reports-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/urjourney.png" alt="Your Journey" />
                </div>
                <div class="sidebar-link-element-txt">
                    Reports
                </div>
            </div>            
        </a>

        <a href="/dashboard/specialist/contact/email" class="linkNoStyle"> 
            <div class="sidebar-link-element" id="contact-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/contact-icon.png" alt="Contact" />
                </div>
                <div class="sidebar-link-element-txt">
                    Contact
                </div>
            </div>            
        </a>

        <a href="/dashboard/emotions" class="linkNoStyle"> 
            <div class="sidebar-link-element" id="more-info-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/moreinfo.png" alt="Info" />
                </div>
                <div class="sidebar-link-element-txt">
                    More Info
                </div>
            </div>            
        </a>

        <a href="/dashboard/logout" class="linkNoStyle"> 
            <div class="sidebar-link-element">
                <div class="sidebar-link-element-icon">
                    <img src="/files/logout-icon.png" alt="Logout" />
                </div>
                <div class="sidebar-link-element-txt">
                    Logout
                </div>
            </div>            
        </a>

    </div>
</div>

<script>
    function openSidebar() {
        $(".sidebar").css("display", "block");
        $(".xBtn").css("visibility", "visible");
    }

    /* Set the width of the sidebar to 0 (hide it) */
    function closeSidebar() {
        $(".sidebar").css("display", "none");
        $(".xBtn").css("visibility", "hidden");
    }
</script>