<div class="page-topbar">
    <div class="page-topbar-title"><%- titleToDisplay %></div>

    <a class="page-topbar-user linkNoStyle" href="/dashboard/account">
        <div class="page-topbar-user-icon"><img src="/files/usericon.png" alt="User"></div>
        <div><%- userName %> <%- userSurname %></div>       
    </a>
</div>