<div class="aligndescreg">Please enter the details of the <strong>Administrator</strong> who will be able to manage the users of your organisation below.</div>
<form method="POST" action="/register-clinic" id="registerAdminForm">
    <div class="row">
        <div class="col">
            <label for="adminName">Name:</label>
            <input type="text" class="form-control" id="adminName" name="adminName">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="adminSurname">Surname:</label>
            <input type="text" class="form-control" id="adminSurname" name="adminSurname">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="adminEmail">Email address:</label>
            <input type="email" class="form-control" id="adminEmail" name="adminEmail">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="adminPassword">Password:</label>
            <input type="password" class="form-control" id="adminPassword" name="adminPassword">
        </div>
        <div class="col">
            <label for="adminPasswordRepeat">Repeat Password:</label>
            <input type="password" class="form-control" id="adminPasswordRepeat" name="adminPasswordRepeat">
        </div>
    </div>
    <div class="row alignnextbtn">
        <button type="submit" class="btnNoStyle btnGradBlue">Register</button>
    </div>
</form>
