<div id="popup-box" class="popupbox-size1">
    <div id="popup-box-topline" class="display-between">
        <div>Your Notes</div>
        <div id="close-popup">&#10005;</div>
    </div>

    <div id="popup-box-content">
        <div id="popup-box-title">
            Add Notes Regarding an Entry
        </div>
        <div class="notes-txt">
            <textarea class="form-control" id="notes-content" rows="6" style="resize:none;"></textarea>
            <button class="btnGradPurpleSm margin-auto" id="save-notes-button">Save</button>
        </div>
    </div>
</div>