<div id="popup-box" class="popupbox-size2">
    <div id="popup-box-topline" class="display-between">
        <div>Emotions detected in a sentence</div>
        <div id="close-popup">&#10005;</div>
    </div>

    <div id="popup-box-content">
        <canvas id="sentence-chart">

        </canvas>

        <div class="popup-emotions-list">
            <ul class="ul-emotions">

            </ul>
        </div>
    </div>
</div>