<div id="popup-box" class="popupbox-size1">
    <div id="popup-box-topline" class="display-between">
        <div>Your Comment</div>
        <div id="close-popup">&#10005;</div>
    </div>

    <div id="popup-box-content">
        <div id="popup-box-title">
            Add Comments Regarding Entry
        </div>
        <div class="comment-txt">
            <textarea class="form-control" id="comment-content" rows="6" style="resize:none;"></textarea>
            <button class="btnGradPurpleSm margin-auto" id="save-comment-button">Save</button>
        </div>
    </div>
</div>