<div class="entry-cont">
    <div class="success-cont">
        <div class="success-sub">
            <div class="success-lg">Success!</div>
            <div class="success-min">You entry has been successfully added to the system.<br>You can review summary of the output, as well as add additional notes or feedback below.</div>
        </div>
        <div class="success-space"></div>
        <div class="success-sub">
            <img alt="success-icon" src="/files/entry-success.png" />
        </div>
    </div>
    <div class="results-cont">
        <div class="title-wrapper">
            <div class="title-with-border">
                <div>Your Summary</div>
                <div class="title-line"></div>
            </div>
        </div>

        <div class="detected-emotion">
            <div>The main detected emotion is...</div>
            <div id="detected-emotion-class"></div>
            <div id="detected-emotion-desc">
                The main emotion class detected in your entry is <span id="emotion-inline"></span>.
            </div>
        </div>

    </div>
</div>