<div class="entry-cont">
    <div class="success-cont">
        <div class="success-sub">
            <div class="success-lg">Success!</div>
            <div class="success-min">You entry has been successfully added to the system.<br>You can review summary of the output, as well as add additional notes below.</div>
        </div>
        <div class="success-space"></div>
        <div class="success-sub">
            <img alt="success-icon" src="/files/entry-success.png" />
        </div>
    </div>
    <div class="results-cont">
        <div class="title-wrapper">
            <div class="title-with-border">
                <div>Your Summary</div>
                <div class="title-line"></div>
            </div>
        </div>

        <div class="detected-emotion">
            <div>The main emotion detected in your entry is...</div>
            <div id="detected-emotion-class"></div>
            <div class="align-chart">
                <canvas id="chart"></canvas>
            </div>
            <div class="detected-main-emotions">
                <ul class="detected-main-emotions-list">

                </ul>
            </div>
            <div>
                <div class="summary-title">&#8226; Emotional variations in individual sentences:</div>
            </div>
            <div class="align-chart">
                <canvas id="chart2"></canvas>
            </div>
            <div id="detected-emotion-desc">
                <span class="first-sentence">The main emotion class detected in your entry is <span id="emotion-inline"></span>.</span><br>
            </div>
        </div>

        <div class="add-notes">
            <div class="add-notes-subtitle">Additional notes</div>
            <div class="add-notes-desc">If you wish to add some additional notes or feedback regarding the summary of your entry, please enter them below and press the <i>Save</i> button.</div>
            <div class="add-note-cont">
                <div class="note-area">
                    <textarea class="form-control" id="note-content" rows="6" style="resize:none;"></textarea>
                </div>
                
                <div class="note-btn-align">
                    <button class="btnGradPurpleSm margin-auto" id="save-notes-btn">Save</button>
                </div>
            </div>
        </div>

        <div class="review-entries">
            <a class="linkNoStyle" href="/dashboard/user/entries/review">
                <button class="btnGradBlue margin-auto">Review Your Entries</button>
            </a>
        </div>

    </div>
</div>