<div id="popup-box" class="popupbox-size1">
    <div id="popup-box-topline" class="display-between">
        <div>User's Notes</div>
        <div id="close-popup">&#10005;</div>
    </div>

    <div id="popup-box-content">
        <div id="popup-box-title">
            User's Notes
        </div>
        <div class="notes-txt">

        </div>
    </div>
</div>